<div style ="border: blue solid 5px; font-family: Agency FB;	"><center>
<a href="#" ></a> 
    <h1> <font color="blue"> Traitement des bases Secten </font> </h1> 
<a href="#" ></a>     
</center>
</div>

### Table de matières

* [Préliminaire](#préliminaire)
* [Chargement de base de données](#chargement-de-base-de-données)
    * [Base UTCATF](#base-utcatf)
    * [Base Secteur Naturel](#base-secteur-naturel)
    * [Base Secteur agricole](#base-secteur-agricole)
    * [Base Transports](#base-transports)
    * [Base Traitement centralisé de déchets](#base-traitement-centralisé-de-déchets)
    * [Base Industrie de l'energie](#base-industrie-de-lenergie)
    * [Base Industrie manufacturière et construction](#base-industrie-manufacturière-et-construction)
        * [Construction](#construction)
        * [Industrie manufacturière](#industrie-manufacturière)
    * [Base Residentiel-Tertiaire](#base-residentiel-tertiaire)
        * [Résidentiel](#résidentiel)
        * [Tertiaire](#tertiaire)
* [Fusion des différentes bases](#fusion-des-différentes-bases)
* [Création du total des émissions des GES](#création-du-total-des-émissions-des-GES)

Ce note-book ressort les chargements et créations des bases Citepa selon les secteurs d'émissions.

# Préliminaire

##### Importation des librairies nécessaires

In [4]:
import os # pour définir les repertoires de travail
from scrap import data_scrap # librairie créée pour la lecture des bases 
import pandas as pd 
import xlrd # librairie de lecture de base par cellule (base Excel)

In [5]:
# Définition du repertoire de travail
os.chdir("D:/ENSAI/2A/Projet Statistique/projet-risque-de-transition/bdd/Citepa_donnees_brutes/")  # Mettez ici le repertoire de vos bases

# 2. Chargement de base de données

Les données des émissions sur les secteurs sont tirés du site de Citepa https://www.citepa.org/fr/secten/. Ces données portent sur les gaz à effet de serre et d'autres polluants atmosphériques, et couvrent la France métropolitaine et les départements d'Outre-Mer. <p>
Nous avons principalement huit (8) secteurs d'émissions d'après Citepa: <p>
<li> Industrie manufacturière et construction
<li> Traitement centralisé des déchets
<li> Industrie de l'energie
<li> Agriculture
<li> Résidentiel-Tertiaire
<li> Transport
<li> Utilisation des Terres, Changement d'Affectation des Terres et Foresterie (UTCATF)
<li> Secteur Naturel <p>

Pour chacun de ces secteurs énumérés, nous disposons d'une base de données. Nous allons donc charger les bases des secteurs puis créer la base globale des émissions. <p>
Les gaz à effet de serre identifiés dans ces bases sont CO2, CO2e (Co2 équivalent), CH4, N2O, HFC, PFC, SF6, NF3 et les	Gaz fluorés.

## Base UTCATF

In [6]:
# Chargement la base des données
# Dans la méthode, data_scrap.chemin([Nom fichier excel], [La feuille de données])
worksheet = data_scrap.chemin("Citepa_UTCATF_Secten_ed2021-d.xlsx",
"UTCATF-Emissions")

# Recuperation des données GES par type et année
secten_utcatf = data_scrap.data_frame(worksheet, 304, 4)
# Création de la variable spécifiant le secteur
secten_utcatf["secteur"] = "utcatf"
secten_utcatf.head()

,annee,CO2,CO2e,CH4,N2O,HFC,PFC,SF6,NF3,Gaz_fluores,secteur
0,1990.0,-21.917486,-26.128712,977.478254,3233.748513,0.0,0.0,0.0,0.0,0.0,utcatf
1,1991.0,-22.037504,-26.273417,1035.383489,3200.529656,0.0,0.0,0.0,0.0,0.0,utcatf
2,1992.0,-19.822812,-24.122145,1067.884175,3231.448525,0.0,0.0,0.0,0.0,0.0,utcatf
3,1993.0,-22.784308,-27.068601,1050.702697,3233.589720,0.0,0.0,0.0,0.0,0.0,utcatf
4,1994.0,-20.348385,-27.064800,3489.492690,3226.922628,0.0,0.0,0.0,0.0,0.0,utcatf

## Base Secteur Naturel

In [7]:
# Chargement la base des données
# Dans la méthode, data_scrap.chemin([Nom fichier excel], [La feuille de données])
worksheet = data_scrap.chemin("Citepa_Emissions-naturelles_Secten_ed2021-d.xlsx",
"Emi-naturelles-Emissions")

secten_emi_naturelles = data_scrap.data_frame(worksheet, 265, 4)
secten_emi_naturelles["secteur"] = "emi_naturelles"
secten_emi_naturelles.head()

,annee,CO2,CO2e,CH4,N2O,HFC,PFC,SF6,NF3,Gaz_fluores,secteur
0,1990.0,0.023197,0.023197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,emi_naturelles
1,1991.0,0.023197,0.023197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,emi_naturelles
2,1992.0,0.133482,0.133482,0.0,0.0,0.0,0.0,0.0,0.0,0.0,emi_naturelles
3,1993.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,emi_naturelles
4,1994.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,emi_naturelles

## Base Secteur agricole

In [8]:
# Chargement la base des données
# Dans la méthode, data_scrap.chemin([Nom fichier excel], [La feuille de données])
worksheet = data_scrap.chemin("Citepa_Agriculture_Secten_ed2021-d.xlsx",
"Agriculture-Emissions")

secten_agriculture = data_scrap.data_frame(worksheet, 595, 4)
secten_agriculture["secteur"] = "agriculture"
secten_agriculture.head()

,annee,CO2,CO2e,CH4,N2O,HFC,PFC,SF6,NF3,Gaz_fluores,secteur
0,1990.0,92.073237,11.648655,42253.117111,38171.464866,0.0,0.0,0.0,0.0,0.0,agriculture
1,1991.0,91.620429,11.651511,41589.588321,38379.329362,0.0,0.0,0.0,0.0,0.0,agriculture
2,1992.0,90.477262,11.780878,41059.866442,37636.518292,0.0,0.0,0.0,0.0,0.0,agriculture
3,1993.0,89.596477,12.002070,40771.243296,36823.163806,0.0,0.0,0.0,0.0,0.0,agriculture
4,1994.0,89.055577,11.806511,40955.402395,36293.663367,0.0,0.0,0.0,0.0,0.0,agriculture

## Base Transports

In [9]:
# Chargement la base des données
# Dans la méthode, data_scrap.chemin([Nom fichier excel], [La feuille de données])
worksheet = data_scrap.chemin("Citepa_Transports_Secten_ed2021-d.xlsx",
"Transports-Emissions")

secten_transport = data_scrap.data_frame(worksheet, 1090, 4)
secten_transport["secteur"] = "transport"
secten_transport.head()

,annee,CO2,CO2e,CH4,N2O,HFC,PFC,SF6,NF3,Gaz_fluores,secteur
0,1990.0,123.572826,121.647057,977.115608,948.652974,0.000000,0.0,0.0,0.0,0.000000,transport
1,1991.0,126.338320,124.399580,972.508074,966.231426,0.000000,0.0,0.0,0.0,0.000000,transport
2,1992.0,130.791385,128.794203,974.861467,1022.320823,0.000000,0.0,0.0,0.0,0.000000,transport
3,1993.0,131.050910,128.996529,927.415066,1126.241396,0.724165,0.0,0.0,0.0,0.724165,transport
4,1994.0,131.961350,129.745671,850.100230,1329.081096,36.497533,0.0,0.0,0.0,36.497533,transport

## Base Traitement centralisé de déchets

In [10]:
# Chargement la base des données
# Dans la méthode, data_scrap.chemin([Nom fichier excel], [La feuille de données])
worksheet = data_scrap.chemin("Citepa_Traitement-centralise-dechets_Secten_ed2021-d.xlsx",
"Dechets-Emissions")

secten_dechets = data_scrap.data_frame(worksheet, 331, 4)
secten_dechets["secteur"] = "dechets"
secten_dechets.head()

,annee,CO2,CO2e,CH4,N2O,HFC,PFC,SF6,NF3,Gaz_fluores,secteur
0,1990.0,15.310227,1.918916,12721.055478,670.254955,0.0,0.0,0.0,0.0,0.0,dechets
1,1991.0,15.868774,1.901355,13284.956423,682.462069,0.0,0.0,0.0,0.0,0.0,dechets
2,1992.0,16.562601,1.926792,13962.817784,672.990960,0.0,0.0,0.0,0.0,0.0,dechets
3,1993.0,17.257158,1.910236,14677.966367,668.956004,0.0,0.0,0.0,0.0,0.0,dechets
4,1994.0,17.545225,1.944741,14933.317619,667.166316,0.0,0.0,0.0,0.0,0.0,dechets

## Base Industrie de l'energie

In [11]:
# Chargement la base des données
# Dans la méthode, data_scrap.chemin([Nom fichier excel], [La feuille de données])
worksheet = data_scrap.chemin("Citepa_Industrie-energie_Secten_ed2021-d.xlsx", "Energie-Emissions")

secten_energie = data_scrap.data_frame(worksheet, 496, 4)
secten_energie["secteur"] = "energie"
secten_energie.head()

,annee,CO2,CO2e,CH4,N2O,HFC,PFC,SF6,NF3,Gaz_fluores,secteur
0,1990.0,78.101270,70.437896,6681.623292,475.864348,0.0,0.0,505.886547,0.0,505.886547,energie
1,1991.0,79.385304,72.045056,6333.413977,497.785864,0.0,0.0,509.048338,0.0,509.048338,energie
2,1992.0,80.639716,73.134223,6475.482733,517.799675,0.0,0.0,512.210128,0.0,512.210128,energie
3,1993.0,68.328933,60.667997,6636.586664,508.976808,0.0,0.0,515.371919,0.0,515.371919,energie
4,1994.0,65.224002,57.542372,6708.526163,454.569356,0.0,0.0,518.533710,0.0,518.533710,energie

## Base Industrie manufacturière et Construction

Pour ce secteur, on distingue deux grands sous-secteurs: Industrie manufacturière d'une part et Construction d'autre part. Donc nous créons deux bases pour les deux pour des besoins avenirs.

### Construction

In [12]:
## Récupération des données du sous-secteur construction
def  donnees(ligne):
    # Chargement de la base
    workbook = xlrd.open_workbook("Citepa_Industrie-manufacturiere-construction_Secten_ed2021-d.xlsx")
    # Precision de la feuille de données
    worksheet = workbook.sheet_by_name("Industrie-Emissions")
    # Initialiser la liste où mettre les données
    donnees = []
    
    # On parcourt les colonnes pour récupérer les données
    for curr_col in range(3 + 63 -30,61 + 6, 1):
        # ligne sera entrée en parmètre pour permettre la précision des types de GES
        data = worksheet.cell_value(ligne, curr_col)
        donnees.append(data)

    return donnees

In [13]:
## On met en entrée la ligne correspondant aux données de chaque type de GES pour la construction
# Et récuperer toutes les valeurs sur toutes les années
annee = donnees(9)
COdeux = donnees(25)
COdeuxe = donnees(11)
CHquatre = donnees(39)
NdeuxO = donnees(53)
HFCs = donnees(67)
PFCs = donnees(81)
SFsix = donnees(95)
NFtrois = donnees(109)
Gaz_fluores = donnees(123)

## On crée un dataframe des émissions du secteur de construction avec les années en ligne
secten_construct = pd.DataFrame([annee, COdeux, COdeuxe, CHquatre,NdeuxO,HFCs,PFCs,SFsix,NFtrois,Gaz_fluores],
index = ["annee", "CO2", "CO2e", "CH4","N2O","HFC","PFC","SF6","NF3","Gaz_fluores"])

# Pour avoir la même structure que les bases précédentes, on transpose cette base pour avoir comme variables 
# les différents GES 
secten_construction = secten_construct.transpose()
# Création de la variable secteur précisant le secteur de construction
secten_construction["secteur"] = "construction"

In [14]:
## Aperçu sur la base construction
secten_construction.head()

,annee,CO2,CO2e,CH4,N2O,HFC,PFC,SF6,NF3,Gaz_fluores,secteur
0,1990.0,3.281677,3.548386,4.412587,262.295903,0.0,0.0,0.0,0.0,0.0,construction
1,1991.0,3.312507,3.581927,4.487386,264.931952,0.0,0.0,0.0,0.0,0.0,construction
2,1992.0,3.332257,3.60717,4.534189,270.335999,0.043414,0.0,0.0,0.0,0.043414,construction
3,1993.0,3.309692,3.584328,4.505402,269.9204,0.210627,0.0,0.0,0.0,0.210627,construction
4,1994.0,2.65686,2.849504,3.608426,188.439474,0.596112,0.0,0.0,0.0,0.596112,construction

### Industrie manufacturière

Pour créer la base du sous-secteur industrie manufacturière, nous allons d'abord créer la base de tout le secteur (Industrie + construction), ensuite enlever les émissions du sous-secteur construction.

In [15]:
# Chargement la base des données
# Dans la méthode, data_scrap.chemin([Nom fichier excel], [La feuille de données])
worksheet = data_scrap.chemin("Citepa_Industrie-manufacturiere-construction_Secten_ed2021-d.xlsx",
"Industrie-Emissions")

# Recuperation des données GES par type et année
secten_industrie = data_scrap.data_frame(worksheet, 496, 4)
# Création de la variable spécifiant le secteur
secten_industrie["secteur"] = "indus_manu"
secten_industrie.head()

,annee,CO2,CO2e,CH4,N2O,HFC,PFC,SF6,NF3,Gaz_fluores,secteur
0,1990.0,153.744775,107.572996,402.770830,24236.611183,4402.199943,15607.399752,1506.316708,16.480883,21532.397286,indus_manu
1,1991.0,165.394773,119.342358,424.683014,24452.191351,5124.376818,14467.630414,1565.404469,18.128972,21175.540673,indus_manu
2,1992.0,153.528244,107.475718,403.696426,24855.896075,4417.518209,14754.947939,1600.526076,19.941869,20792.934093,indus_manu
3,1993.0,148.328449,103.995069,388.669113,24859.769509,2894.556831,14532.190158,1636.258453,21.936056,19084.941498,indus_manu
4,1994.0,148.249383,105.997656,410.180933,25435.525714,1720.269057,12976.456371,1685.165628,24.129661,16406.020717,indus_manu

On renomme les variables pour les deux bases

In [16]:
# renommer pour la base complète
dic_i = ["annee","CO2i", "CO2ei","CH4i", "N2Oi",
"HFCi","PFCi","SF6i","NF3i","Gaz_fluoresi", "secteur"]
# renommer pour la base construction
dic_c = ["annee","CO2c", "CO2ec","CH4c", "N2Oc",
"HFCc","PFCc","SF6c","NF3c","Gaz_fluoresc", "secteur"]

# Affection des nouveaux noms pour chacune des bases
secten_industrie.set_axis(dic_i, axis='columns', inplace= True)
secten_construction.set_axis(dic_c, axis='columns', inplace= True)

Etant des noms de variables différents, nous allons fusionner les deux bases avec comme variable de fusion *_annee_*.

In [17]:
# Fusion de deux bases
df =secten_industrie.merge(secten_construction, on='annee',validate='1:1')

In [18]:
## Faire la différence pour chaque GES pour obtenir les valeurs pour le sous-secteur industrie manufacturière
df = df.assign(CO2 = df.CO2i - df.CO2c,
CO2e = df.CO2ei - df.CO2ec,
CH4 = df.CH4i - df.CH4c,
N2O = df.N2Oi - df.N2Oc,
HFC = df.HFCi - df.HFCc,
PFC = df.PFCi - df.PFCc,
SF6 = df.SF6i - df.SF6c,
NF3 = df.NF3i - df.NF3c,
Gaz_fluores = df.Gaz_fluoresi- df.Gaz_fluoresc,
secteur = df.secteur_x)

Pour avoir uniquement les données du sous-secteur industrie manufacturière, on garde seulement les variables créées précédemment.

In [19]:
## Création de la base sous-secteur industrie manufacturière
secten_industrie = df[["annee", "CO2", "CO2e", "CH4","N2O","HFC","PFC","SF6","NF3","Gaz_fluores", "secteur"]]

# pour la base du sous-secteur construction, on ramène les noms des variables initiaux
dic_c = ["annee","CO2", "CO2e","CH4", "N2O",
"HFC","PFC","SF6","NF3","Gaz_fluores", "secteur"]
secten_construction.set_axis(dic_c, axis='columns', inplace= True)
secten_industrie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   annee        31 non-null     object
 1   CO2          31 non-null     object
 2   CO2e         31 non-null     object
 3   CH4          31 non-null     object
 4   N2O          31 non-null     object
 5   HFC          31 non-null     object
 6   PFC          31 non-null     object
 7   SF6          31 non-null     object
 8   NF3          31 non-null     object
 9   Gaz_fluores  31 non-null     object
 10  secteur      31 non-null     object
dtypes: object(11)
memory usage: 2.9+ KB

## Base Residentiel-Tertiaire

Nous réalisons le même traitement pour la base du secteur Résidentiel-Tertiaire en distinguant les deux sous-secteurs: Tertitaire et résidentiel.

In [20]:
# Chargement la base des données globale
# Dans la méthode, data_scrap.chemin([Nom fichier excel], [La feuille de données])
worksheet = data_scrap.chemin("Citepa_Batiments-Residentiel-Tertiaire_Secten_ed2021-d.xlsx",
"RT-Emissions")

secten_rt = data_scrap.data_frame(worksheet, 661, 4)
secten_rt["secteur"] = "RT"
secten_rt.head()

,annee,CO2,CO2e,CH4,N2O,HFC,PFC,SF6,NF3,Gaz_fluores,secteur
0,1990.0,91.648167,84.438367,6156.119627,911.139511,0.000000,0.0,142.540932,0.0,142.540932,RT
1,1991.0,101.106806,92.911372,7049.321220,1003.108122,0.000000,0.0,143.004877,0.0,143.004877,RT
2,1992.0,97.279592,89.287750,6882.250495,965.624243,0.493145,0.0,143.474212,0.0,143.967357,RT
3,1993.0,93.698150,85.843941,6753.089443,939.561009,17.610945,0.0,143.947498,0.0,161.558444,RT
4,1994.0,87.366890,79.991357,6158.391396,860.382237,116.576378,0.0,240.183173,0.0,356.759551,RT

### Tertiaire

In [21]:
## Récupération des données 
## Création d'une fonction permettant de parcourir les colonnes d'observation pour chaque ligne entrée en paramètre.
## La ligne correspond à un type de GES et ses valeurs d'émissions au cours des années
def  donnees(ligne):
    # Chargement de la base brute
    workbook = xlrd.open_workbook("Citepa_Batiments-Residentiel-Tertiaire_Secten_ed2021-d.xlsx")
    # Précison de la feuille de données
    worksheet = workbook.sheet_by_name("RT-Emissions")
    donnees = []
    ## Boucle pour récuperer les données sur plusieurs années
    for curr_col in range(3 + 63 -30,61 + 6, 1):
        data = worksheet.cell_value(ligne, curr_col)
        donnees.append(data)

    return donnees

Liste des données tous les types de GES pour le sous-secteur Tertiaire et création de la base Tertiaire

In [22]:
# Liste des données tous les types de GES pour le sous-secteur (SUR LES ANNEES)
annee = donnees(9)
COdeux = donnees(42)
COdeuxe = donnees(23)
CHquatre = donnees(61)
NdeuxO = donnees(80)
HFCs = donnees(99)
PFCs = donnees(118)
SFsix = donnees(137)
NFtrois = donnees(156)
Gaz_fluores = donnees(175)

secten_tert = pd.DataFrame([annee, COdeux, COdeuxe, CHquatre,NdeuxO,HFCs,PFCs,SFsix,NFtrois,Gaz_fluores],
index = ["annee", "CO2", "CO2e", "CH4","N2O","HFC","PFC","SF6","NF3","Gaz_fluores"])
secten_tertiaire = secten_tert.transpose()
secten_tertiaire["secteur"] = "tertiaire"

### Résidentiel

Liste des données tous les types de GES pour le sous-secteur résidentiel et création de la base Résidentiel

In [23]:
# Bases pour résidentiel
annee = donnees(9)
COdeux = donnees(36)
COdeuxe = donnees(17)
CHquatre = donnees(55)
NdeuxO = donnees(74)
HFCs = donnees(93)
PFCs = donnees(112)
SFsix = donnees(131)
NFtrois = donnees(150)
Gaz_fluores = donnees(169)

secten_resid = pd.DataFrame([annee, COdeux, COdeuxe, CHquatre,NdeuxO,HFCs,PFCs,SFsix,NFtrois,Gaz_fluores],
index = ["annee", "CO2", "CO2e", "CH4","N2O","HFC","PFC","SF6","NF3","Gaz_fluores"])
secten_residentiel = secten_resid.transpose()
secten_residentiel["secteur"] = "residentiel"

# Fusion des différentes bases

Nous nous sommes assuré d'avoir la même structure pour toutes les bases et une variable précisant le secteur. Nous pouvons aisément concatener toutes ces bases pour obtenir notre base finale sur les émissions de GES des différents secteurs selon Citepa.

In [24]:
# Création de la base finale à l'aide de la méthode concat de pandas
base_secten = pd.concat([secten_energie, secten_industrie, secten_utcatf, secten_emi_naturelles,
    secten_agriculture, secten_transport, secten_dechets, secten_residentiel,
    secten_tertiaire, secten_construction], ignore_index=True)

In [25]:
# Qualité de la fusion
base_secten.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   annee        310 non-null    object
 1   CO2          310 non-null    object
 2   CO2e         310 non-null    object
 3   CH4          310 non-null    object
 4   N2O          310 non-null    object
 5   HFC          310 non-null    object
 6   PFC          310 non-null    object
 7   SF6          310 non-null    object
 8   NF3          310 non-null    object
 9   Gaz_fluores  310 non-null    object
 10  secteur      310 non-null    object
dtypes: object(11)
memory usage: 26.8+ KB

## Correction variable année

Dans les données, les émissions de 2020 sont estimées pour tous les secteurs. Nous corrigons la modalité indiquant cette année à l'aide du code ci-dessous.

In [26]:
# creation de la variable annee
for i in range(base_secten.shape[0]):
    if base_secten["annee"][i] == '2020 (e) ':
        base_secten["annee"][i] = 2020

base_secten = base_secten.astype({"annee": int})

In [27]:
## Head de la base finale
base_secten.head()

,annee,CO2,CO2e,CH4,N2O,HFC,PFC,SF6,NF3,Gaz_fluores,secteur
0,1990,78.10127,70.437896,6681.623292,475.864348,0.0,0.0,505.886547,0.0,505.886547,energie
1,1991,79.385304,72.045056,6333.413977,497.785864,0.0,0.0,509.048338,0.0,509.048338,energie
2,1992,80.639716,73.134223,6475.482733,517.799675,0.0,0.0,512.210128,0.0,512.210128,energie
3,1993,68.328933,60.667997,6636.586664,508.976808,0.0,0.0,515.371919,0.0,515.371919,energie
4,1994,65.224002,57.542372,6708.526163,454.569356,0.0,0.0,518.53371,0.0,518.53371,energie

In [28]:
# Vérification des valeurs manquantes
base_secten.isna().sum()

annee          0
CO2            0
CO2e           0
CH4            0
N2O            0
HFC            0
PFC            0
SF6            0
NF3            0
Gaz_fluores    0
secteur        0
dtype: int64

# Calcul du total des émissions des GES

Tous les différents types de GES sont mesurés en CO2 équivalents. Certains sont donnés en mégatonnes et d'autres en kilotonnes comme indique le tableau suivant.  <p>
1 Mt (un mégatonne) = 1000 Kt (kilotonne)

<table>
      <tr>
        <th>GES</th>
        <th>Unité</th>
      </tr>
      <tr>
        <td>CO2e</td>
        <td>Mt Co2e</td>
      </tr>
      <tr>
        <td>CO2</td>
        <td>Mt</td>
      </tr>
      <tr>
        <td>CH4</td>
        <td>Kt Co2e</td>
      </tr>
      <tr>
        <td>NO2</td>
        <td>Kt Co2e</td>
      </tr>
      <tr>
        <td>HFC</td>
        <td>Kt Co2e</td>
      </tr>
      <tr>
        <td>PFC</td>
        <td>Kt Co2e</td>
      </tr>
      <tr>
        <td>SF6</td>
        <td>Kt Co2e</td>
      </tr>
      <tr>
        <td>NF3</td>
        <td>Kt Co2e</td>
      </tr>
      <tr>
        <td>Gas fluorés</td>
        <td>Kt Co2e</td>
      </tr>
      <tr>
    </table>

Nous allons calculer le total en le rapportant en Mégatonne, donc diviser les valeurs des GES autres que CO2 par 1000. <p>
<br> Total_ges = somme pondérée des différents gaz (CO2, CH4, etc.) </br>

In [29]:
# Calcul du total d'émissions de GES
base_secten["total_ges"] = base_secten["CO2"] + base_secten["CO2e"] +\
    (base_secten["CH4"] + base_secten["N2O"] + base_secten["HFC"] + \
        base_secten["PFC"] + base_secten["SF6"] + base_secten["NF3"] + \
            base_secten["Gaz_fluores"])/1000

In [30]:
# Description de la base finale
base_secten.describe()

             annee
count   310.000000
mean   2005.000000
std       8.958733
min    1990.000000
25%    1997.000000
50%    2005.000000
75%    2013.000000
max    2020.000000

In [31]:
# Valeur manquante
base_secten.isna().sum()

annee          0
CO2            0
CO2e           0
CH4            0
N2O            0
HFC            0
PFC            0
SF6            0
NF3            0
Gaz_fluores    0
secteur        0
total_ges      0
dtype: int64

In [32]:
base_secten.secteur.value_counts()

energie           31
indus_manu        31
utcatf            31
emi_naturelles    31
agriculture       31
transport         31
dechets           31
residentiel       31
tertiaire         31
construction      31
Name: secteur, dtype: int64

## Enregistrement de la base finale

In [33]:
# Enregistrement en csv de la Secten
base_secten.to_csv('../secten/base_secten.csv', index=False)